# Ignore Gradle project-specific cache directory
.idea

# Ignore Gradle build output directory
.settings

# Ignore Gradle build output directory
.target

# Ignore Gradle build output directory
.classpath

# Ignore Gradle build output directory
.project
